.players-page {
    .players-page-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .player-card {
            width: 270px;
            margin: 10px;
        }
    }
}