.player-card {
    position: relative;
    background-color: $terziary-colour;
    color: $white-colour;
    padding: 15px;
    border-radius: 10px;
    line-height: 20px;

    .flag {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .player-card-name {
        font-size: 20px;
        width: 230px;
    }

    .player-card-description {
        margin: 5px 0;
        font-style: italic;
    }

    .player-card-picture {
        display: block;
        margin: 15px auto;
    }
}