@import '../layout/header';
@import '../layout/footer';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: $primary-colour;
  color: $white-colour;
  height: 150px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
